{% extends "admin/base.html" %}
{% load i18n %}
{% load static % }

{% block title %}{{title}} | {% trans 'Administração Be The Hero' %}{% endblock %}

{% block extrastyle %}
<style>
  :root {
    --primary-color: #B22222;
    --primary-color-faded: #696969;
    --secondary-color: #2F4F4F;
    --sec-color:#000000;
  }

  .login #header h1 a {
    color: #fff;
    padding-left: 30px;
  }

  ::selection {
    background: var(--secondary-color);
    color:var(--primary-color);
    opacity:1
  }

  ::-moz-selection {
    background: var(--secondary-color);
    color:var(--primary-color);
    opacity:1
  }
  body {
    font-family:
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Helvetica,
          Arial,
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';
  }
  #header {
    background: #e02041;
  }

  #branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
  }

  .module h2, .module caption, .inline-group h2 {
    background-color: #e02041;
  }
  div.breadcrumbs {
    background: var(--primary-color-faded);
  }
  a:link, a:visited {
    color: #e02041;
  }
  .selector-chosen h2 {
    background: var(--primary-color-faded) !important;
  }
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: var(--primary-color-faded);
  }
  .button.default, input[type=submit].default, .submit-row input.default {
    background: var(--primary-color);
  }
  .button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: var(--primary-color-faded);
    opacity: 0.8;
  }
  .button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background: var(--primary-color);
    opacity: 0.8;
  }
</style>
{% endblock %}


{% block branding %}
<h1 id="site-name">{% trans 'Administração Be The Hero' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}